<p>Current session key 'test' is '<% session.test %>'</p>

<form method="post">
  New values for key 'test': <input type="text" name="test" autofocus />
  <input type="submit" value="Update" />
</form>
